{% assign c-label = include.version | prepend:'guidelines-' %}
{% assign c = site.collections | where: "label", c-label | first %}
{% for doc in c.docs %}
  {% if doc.relative_path contains include.section %}

  {% assign filename = doc.url | split:'/' | last | split:'-' | first %}
  {% assign levels = doc.relative_path | split: '/' %}
  {% assign h = levels.size %}
  {% assign levels = levels | shift %}
  {% assign id = doc.sectionid %}

  <h{{ h }} id="{{ id }}">
      {% for level in levels %}{{ level | split:'-' | first | remove: "0" }}.{% endfor %}
      {{ doc.title }}
  </h{{ h }}>

  {{ doc.content }}
  
  {% endif %}
{% endfor %}