<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ site.style_baseurl }}/css/main.css">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="{{ site.style_baseurl }}/css/syntax.css" />

    <!-- search -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/tipuesearch/search_content_{{ page.version }}.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/js/tipuesearch/tipuesearch.css">
    <script src="{{ site.baseurl }}/js/tipuesearch/tipuesearch_set.js"></script>
    <script src="{{ site.baseurl }}/js/tipuesearch/tipuesearch.min.js"></script>
    
    <!-- verovio -->
    <script src="https://www.verovio.org/javascript/latest/verovio-toolkit.js" type="text/javascript" charset="utf-8"></script>
    
    <!-- script for handling verovio examples -->
    <script src="{{ site.baseurl }}/js/verovio-examples.js" type="text/javascript" charset="utf-8"></script>
    
    <!-- xml highlighting -->
    <link rel="stylesheet" href="{{ site.baseurl }}/js/highlight/styles/default.css">
    <script src="{{ site.baseurl }}/js/highlight/highlight.pack.js"></script>
</head>
