<header class="navbar">
  <div class="navbar-section">
    <a class="navbar-brand" href="{{ site.style_baseurl }}/">
      <img src="{{site.style_baseurl}}/pix/meilogo-inverted.png" alt="MEI logo"/>
    </a>
    {% include menu.html %}
  </div>
  {% if page.version == "dev" %}
  <div class="navbar-section">
    <div class="fixed toast toast-warning text-center guidelines-warning">
        Guidelines for the development version of MEI
    </div>
  </div>
  {% elsif page.version != site.versions.current %}
  <div class="navbar-section">
    <div class="fixed toast toast-warning text-center guidelines-warning">
        Guidelines for an older version of MEI ({{ site.versions[page.version] }})
    </div>
  </div>
  {% endif %}
  <div class="navbar-section">
    <a class="twitterLink" target="_blank" href="https://twitter.com/MusicEncoding">
      <img src="{{site.style_baseurl}}/pix/twitter.png" alt="Twitter" class="logo"/>
    </a>
    <a class="githubLink" target="_blank" href="https://github.com/music-encoding">
      <img src="{{site.style_baseurl}}/pix/github.png" alt="GitHub" class="logo"/>
    </a>
    <a class="slackLink" target="_blank" href="https://music-encoding.slack.com/">
      <img src="{{site.style_baseurl}}/pix/slack.png" alt="Slack" class="logo"/>
    </a>
  </div>
</header>
