<header class="navbar">
  <section class="navbar-section">
    <a href="http://music-encoding.org" class="navbar-brand mr-2">{{ site.title }}</a>
    
  </section>
  <section class="navbar-center">
    {% include menu.html %}
  </section>
  <section class="navbar-section">
    <div class="circle twitterCircle">
      <a class="twitterLink" target="_blank" href="https://twitter.com/MusicEncoding">
        <img src="{{site.style_baseurl}}/pix/TwitterLogo_white.png" alt="Twitter"/>
      </a>
    </div>
    
    <a class="githubLink" target="_blank" href="https://github.com/music-encoding">
      <img src="{{site.style_baseurl}}/pix/GitHub-Mark-64px.png" alt="GitHub"/>
    </a>
  </section>
</header> 
