{% for entry in site.menu %}
    <div class="dropdown dropdownCustomMenuToggle">
        {% unless entry.submenu %}
            <a href="{{m.url}}" class="btn btn-link top-menu-link" tabindex="{{ forloop.index0}}">
                {{ entry.label }}
            </a>
        {% else %}
            <a class="btn btn-link dropdown-toggle top-menu-link" tabindex="{{ forloop.index0}}">
                {{ entry.label }} <i class="icon icon-caret"></i>
            </a>

            {% for item in entry.submenu %}
            {% if forloop.first %} <ul class="menu"> {% endif %}
                <li class="menu-item">
                    <a href="{{site.baseurl}}/{{entry.url}}{{item.url}}" class="btn btn-link text-left menu-link">
                        {{site.versions[item.id]}}
                    </a>
                </li>
                {% if forloop.last %} </ul> {% endif %}
            {% endfor %}

        {% endunless %}
    </div>
{% endfor %}
