{% assign c = site.collections | where: "label", include.version | first %}
{% assign open-accordion = false %}

{% for doc in c.docs %}
  {% assign filename = doc.url | split:'/' | last | split:'-' | first %}
  {% assign levels = doc.relative_path | split: '/' %}
  {% assign levels = levels | shift %}

  {% if doc.url contains include.section and levels.size > 1 and levels.size < 4 %}
    {% if levels.size == 2 %}
      {% if open-accordion == true %}  
    </ul>
  </div>
</div>
      {% endif %}
      {% assign open-accordion = true %}
<div class="accordion">
  <input type="radio" id="accordion-1" name="accordion-radio" hidden>
  <label class="accordion-header">
      {% for level in levels %}{{ level | split:'-' | first | remove: "0" }}.{% endfor %} {{ doc.title }}
  </label>
  <div class="accordion-body">
    <ul class="menu menu-nav">
    {% else if levels.size == 3 %}
    <li class="menu-item">
      <a href="#accordions">{% for level in levels %}{{ level | split:'-' | first | remove: "0" }}.{% endfor %} {{ doc.title }}</a>
    </li>
    {% endif %}
  {% endif %}
{% endfor %}

{% if open-accordion == true %}  
    </ul>
  </div>
</div>
{% endif %}