<div class="tile tile-centered">
    <div class="tile-icon">
        <div class="example-tile-icon">
            <i class="icon icon-file centered"></i>
        </div>
    </div>
    <div class="tile-content">
        <div class="tile-title">
            {% assign file = include.version | append:'/desc/' | append:include.key | append:'.txt' %}
            {% include {{ file }} %}
        </div>
        
        <div class="tile-subtitle text-gray">{{ include.key | prepend:'./desc/' | append:'.md' }}</div>
    </div>
</div>