{% assign c-label = include.version | prepend:'guidelines-' %}
{% assign c = site.collections | where: "label", c-label | first %}
{% for doc in c.docs %}
  {% assign filename = doc.url | split:'/' | last | split:'-' | first %}
  {% assign levels = doc.relative_path | split: '/' %}
  {% assign levels = levels | shift %}

  {% if levels.size < 2 %}
<p>
    <a href="{{ doc.sectionid }}.html">
      {% for level in levels %}{{ level | split:'-' | first | remove: "0" }}.{% endfor %} {{ doc.title }}
    </a>
</p> 
  {% endif %}
      
{% endfor %}