{% assign c-label = include.version | prepend:'guidelines-' %}
{% assign c = site.collections | where: "label", c-label | first %}
{% for doc in c.docs %}
  {% assign filename = doc.url | split:'/' | last | split:'-' | first %}
  {% assign levels = doc.relative_path | split: '/' %}
  {% assign levels = levels | shift %}

  {% if levels.size < 2 %}
<p>
    <a href="{{ doc.sectionid }}.html">
      {% for level in levels %}
      {% assign l = level | split:'-' | first | slice:0,1 %}
      {% if l == "0" %}{% assign l = level | split:'-' | first | slice:1,2 %}
      {% else %}{% assign l = level | split:'-' | first | slice:0,2 %}{% endif %}
      {{ l }}.{% endfor %} {{ doc.title }}
    </a>
</p> 
  {% endif %}
      
{% endfor %}