---
layout: default
---
<div class="columns">
    <div class="column col-8">
        {{ content }}
    </div>
    <div class="column col-4">
        {% for sb in site.sidebar %}
            {% if page.sidebar == sb.id %}
        
                {% for s in sb.content %}
                
                    {% if forloop.first %} <ul class="nav"> {% endif %}
                    <li class="nav-item">
                        <a href="../{{s.url}}">{{s.label}}</a>
                    </li>
                        
                    {% if forloop.last %} </ul> {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <div class="divider"></div>
        {% include toc.html version=page.version section=page.section %}
    </div>
</div>